:root{
    --primary-color:#4D5AE5;
    --pressed-color: #404BBF;
    --dark-color: #2E2F42;
    --success-color: #31D0AA;
    --text-color: #434455;
    --subtle-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-color: #F4F4FD;
    --modal-color: #2E2F42;
    --herobck-color: #2E2F42;
    --whitebck-color: #FFFF;
    --modalbck-color: #FCFCFC;

    --font-main: "Roboto", sans-serif;
}

body {
    font-family: var(--font-main);
    color: var(--text-color);
    background-color: var(--whitebck-color);
}

/* header */

.header {
    background-size: 1440px, 72px;
}
.navigation {
}
.logo{
    font-family: "Raleway", sans-serif;
    color: var(--dark-color);
}
.header-menu-list {
    list-style-type: none;
}
.header-item {
    
}
.header-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
.header-link:active {
    color:var(--pressed-color);
    text-decoration: underline;
}
.accent{
    color: var(--primary-color);
}
.contact {
    
}
.contact:active {
}
.contact-list{
    list-style-type: none;

}
.contact-item{

}
.contact-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}
.contact-link:active {
    color: var(--pressed-color);
}

/* button */
.button{
    background-color: var(--dark-color);
    text-align: center;
}
.button-title {
    font-weight: 700;
    font-size: 56px;
    letter-spacing: 0.02em;
    line-height: 1.07;
    color: var(--whitebck-color);
}
.button-executive {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--primary-color);
    color:var(--whitebck-color);
}
.button-executive:hover {
    background-color: var(--pressed-color);
    color:var(--whitebck-color);
    
}
/* benefits */
.benefits {
    background-size: 1128px, 104px;
}
.benefits-title {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.02em;
    text-align: center;
}
.benefits-list {
    list-style-type: none;
}
.benefits-item {
}
.benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
}
.benefits-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

/* product */
.product {
}
.product-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--dark-color);
}
.product-list {
    list-style-type: none;
}
.product-item {
}
.product-img{
    background-color: var(--accent-color);
}

/* team */
.team {
    background-color: var(--accent-color);
    background-size: 360px, 300px;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--dark-color);
}
.team-list {
    list-style-type: none;
}
.team-item {
    background-color: var(--whitebck-color);
    background-size: 264px, 380px;
}
.team-img {
}
.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}
.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/* footer */
.footer{
    background-color: var(--dark-color);
    background-size: 1440px, 312px;
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    color:var(--light-color);
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-color);
}
